<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
<classes>
<class name="dockerValidationWINMC.chromeTest1"/>
<class name="dockerValidationWINMC.chromeTest2"/>
<class name="dockerValidationWINMC.chromeTest3"/>
<class name="dockerValidationWINMC.firefoxTest1"/>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
